<div class="container-fluid">
  <div class="row  animated bounceIn">
    <div class="col-md-6">
      <div class="jumbotron">
        <a class="card clickable ripple">
          <div class="card-block">
            <div class="text-center">
              <h2>
                STAFF
              </h2>
            </div>
          </div>
          <div class="card-img text-center">
            <clr-icon shape="wifi" class="is-solid" size="150"></clr-icon>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron">
        <a class="card clickable ripple">
          <div class="card-block">
            <div class="text-center">
              <h2>
                STAFF
              </h2>
            </div>
          </div>
          <div class="card-img text-center">
            <clr-icon shape="wifi" class="is-solid" size="150"></clr-icon>
          </div>
        </a>
      </div>
    </div>
    
  </div>
</div>