<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">
          PLEASE TAP YOUR CARD OR SCAN QR CODE TO LOGIN
        </h1>
      </div>
    </div>
    <div class="row  animated bounceIn">
      <div class="col-md-6">
        <div class="jumbotron">
          <a class="card clickable ripple">
            <div class="card-block">
              <div class="text-center">
                <h2>
                  TAP RFID
                </h2>
              </div>
            </div>
            <div class="card-img text-center">
              <clr-icon shape="wifi" class="is-solid" size="150"></clr-icon>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron">
          <a  class="card clickable ripple">
            <div class="card-block">
              <div class="text-center">
                <h2>
                  SCAN QR CODE
                </h2>
              </div>
            </div>
            <div class="card-img text-center">
              <!-- <clr-icon shape="qr" class="is-solid" size="150"></clr-icon> -->
              <span class="glyphicon glyphicon-qrcode" style="font-size:110px; padding:20px;"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>