<div class="main-container">
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav>
            <a clrVerticalNavLink routerLink="./home" routerLinkActive="active">Home</a>
            <a clrVerticalNavLink routerLink="" routerLinkActive="active">Statistics</a>
            <a clrVerticalNavLink routerLink="" routerLinkActive="active">History</a>
            <a clrVerticalNavLink routerLink="" routerLinkActive="active">Vehicles</a>
            <a clrVerticalNavLink routerLink="" routerLinkActive="active">Users</a>
            <a clrVerticalNavLink routerLink="" routerLinkActive="active">Settings</a>
        </clr-vertical-nav>
    </div>
</div>
