<div class="main-container" style="float:left;">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
        <a clrVerticalNavLink routerLink="./home" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
            HOME
        </a>
        <a clrVerticalNavLink routerLink="./d" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
            Electric
        </a>
        <a clrVerticalNavLink routerLink="./s" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
            Poison
        </a>
        <a clrVerticalNavLink routerLink="./a" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="bug"></clr-icon>
            Grass
        </a>
        <a clrVerticalNavLink routerLink="./q" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
            Fighting
        </a>
        <a clrVerticalNavLink routerLink="./w" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
            Credit
        </a>
    </clr-vertical-nav>
</div>