<!-- Add credit by cash-->
<div class="container-fluid">
  <div class="row">
      <button type="button" class="btn btn-icon btn-primary"  (click)="back()">
          <clr-icon shape="rewind"></clr-icon> Back
      </button>
    <div class="col-md-12">
      <h1 class="text-center" style="color: rgb(255, 255, 255)">
        ADD CREDIT BY CASH
      </h1>
    </div>
    <div class="col-md-12"></div>
  </div>
  <div class="row  animated bounceIn">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="jumbotron" style="background-color: rgb(170, 170, 170)">
        <a class="card clickable ripple">
          <div class="card-block">
            <div class="text-center">
              <h2>
                ADD CREDITS
              </h2>
            </div>
          </div>
          <div class="card-img text-center">
            <clr-icon shape="dollar" size="200"></clr-icon>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>